.recipe-heading {
    background-color: rgb(230, 230, 172);
    text-align: center;
}

.desc-heading {
    background-color: rgb(230, 230, 172);
    text-align: center;
}

.ing-heading {
    background-color: rgb(230, 230, 172);
    text-align: center;
}

.steps-heading {
    background-color: rgb(230, 230, 172);
    text-align: center;
}